body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('https://avatars.mds.yandex.net/i?id=9af10c0cdb36fb43f638cb0062464700_l-4766993-images-thumbs&n=13') no-repeat center center fixed;
    background-size: cover;
    color: #dcdcdc;
    line-height: 1.8;
    font-size: 16px;
    padding: 20px;
}

h2, h3 {
    color: #dcdcdc;
    margin-top: 20px;
    margin-bottom: 12px;
}

h2 {
    text-align: center;
    font-size: 32px;
}

p {
    color: #dcdcdc;
    margin-bottom: 16px;
}

ul {
    list-style-type: disc;
    padding-left: 30px;
    color: #dcdcdc;
}

ul li {
    margin-bottom: 8px;
}

ul li ul li {
    color: #dcdcdc;
}

.genre-list > li {
    background: #222;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* Адаптивка */
@media (max-width: 900px) {
    .about-content {
        padding: 0 15px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    .genre-list > li {
        padding: 15px;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    p, ul li {
        font-size: 14px;
    }
    .genre-list > li {
        padding: 12px;
    }
}
